<body>
<nav class="navbar navbar-nav navbar-fixed-top navbar-expand-sm bg-primay navbar-dark"  >
    <img src="assets/images/logo.png"> 
    <!-- <div class="dropdown">
        <i class="fas fa-user"></i>
        <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
         profile
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">profile</a>
          <a class="dropdown-item" href="#">changepassword</a>
          <a class="dropdown-item" href="#">logout</a>
        </div>
      </div> -->
      
</nav>
<div class="container ">
    <div class="row">
        <div class="p-2">
            <img src="assets/images/OPH22N0.png">
        </div>
        <div class="p-4 text-center">
                <img src="assets/images/logo.png" class="eClerk"  alt="eClerk">
                <h4>Welcome to eClerk</h4>
                <h5>What whould you do like first</h5>
                <div>
                    <button (click)="addContacts()"  class="btn btn-primary">add Contacts</button>
                </div>
                <div>
                    <button (click)="createAccount()"  class="btn btn-primary">Create Account</button>
                </div>
                <div>
                    <button (click)="skip()"  class="btn btn-dark">Skip for Now</button>
                </div>
        </div>
    </div>
</div>

</body>






















<!-- <nav class="navbar navbar-nav navbar-fixed-top navbar-expand-sm bg-primay navbar-dark">
    <img src="assets/images/1/1.png">
    <a class="nav-link" routerLink="profile">Profile
        
    </a>
</nav>
<div class="d-flex justify-content-around mb-3">
    <div class="p-1">
        <p><a href="/dashboard">Dashboard</a></p>
        <p><a href="/activity"> Activity</a></p>
        <p><a href="/contactus">Contactus</a></p>
    </div>
    <div class="p-5">dashboard</div>
    
</div> -->


