 body{
  position: relative;
}

ul.nav-pills {
  position: fixed;
  left: 114px;
  top: 110px;
  
  }
  div.col-8 div {
    height: 400px;
    top: 0px;
  }
  a{
    color: black;  
      

  }
  


  