body{
    background-image: url('/assets/images/webbackgroundimage.png ');
    width: 100%;
}
.loginform{
    width: 100%;
    font-family: auto;
    margin-bottom: 0px;
    text-align: center; 
}

h3{
    position: relative ;
   text-align: center;
    margin-top:10px;
    font-family: auto;
}
 input{
   
  border: 3px solid #707070;
  border-radius: 16px;
  padding-left: 30px;
  width: 265px;  
} 

i{ 
  padding-left: 12px;
  margin-top: 10px;
  position: absolute;
} 
.invalid-feedback{
  margin-left: 1%;
}
.centered {
 
  margin-left: 40%;

}
.btn{
 
    width: 238px;
    height: 40px;
    background: #426986 0% 0% no-repeat padding-box;
    border-radius: 35px;
   margin-bottom: 10px;
    color:white;
    margin-top: 10px;
  }
  .btn1,.btn2{
   
  width: 290px;
  height: 40px;
  background: #426986 0% 0% no-repeat padding-box;
  border-radius: 35px;
  margin-bottom: 10px;
  }
  
  .googleicon{
    height: 31px;
   margin-right: 98px;
  }
  
  
  .anchor{
    text-align: center;
  }
@media only screen and (min-width: 600px) {
      .loginform { width: 680px; left: 25%; }
}

  @media only screen and (min-width: 768px) {
      .loginform { width: 25%; left: 50%; }
  } 
  
 
  @media only screen and (min-width: 992px) {
    .loginform { width: 50%; left: 75%; }
  } 
  
  @media only screen and (min-width: 1200px) {
  .loginform { width: 75%; left: 100%; }
    
  } 
  