nav{
    position: relative;
    background-color: aquamarine;
    font-family: auto;
    width:100%;
    height: 60px;
    font-family: auto;

}
nav img{
    position: relative;
    width: 189px;
    margin-top: 45px;
    margin-left: 155px;
}
nav .dropdown-menu {
    position: absolute;
    top: 46px !important;
    left: 750px;
}

.btn{
    position: relative;
    margin-left: 750px; 
} 
.user{
    width: 20px;
}


h3{
    margin-top: 47px;
}
.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 58px;
   
    
  }
  .col-md{
      margin-top: 80px;
  }