
h4{
    position: relative ;
   text-align: center;
    margin-top:10px;
    font-family: auto;
    color: black;
}
.forgotpasswordForm{
  width: 100%;
    font-family: auto;
    margin-bottom: 0px;
    text-align: center; 
}
input{
  border: 3px solid #707070;
  border-radius: 16px;
  padding-left: 30px;
  width: 265px; 
  
  }
  i{ 
    padding-left: 12px;
    margin-top: 10px;
    position: absolute;
  } 
  .invalid-feedback{
    margin-left: 1%;
  }
  .centered {
    margin-left: 40%;
  
  }