
<h4>Forgot Password</h4>
<form [formGroup]="forgotpasswordForm" (ngSubmit)="resetpassword()">
    <div class="form-group centered">
      
     <!-- <input type="text" formControlName="email"  type="email" class="form-control"  placeholder="Email" [(ngModel)]="email"/>-->
      <input type="text" formControlName="email" class="form-control" placeholder="Email" name="email"
      [ngClass]="{'is-invalid': submitted && f.email.errors}"/>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div> 
    
    </div>
<div class=" text-center">
  <button class="btn btn-primary">Submit</button>
</div>
</form>



  
