<!-- <body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"><h5>eClerk</h5>
            <ul class="navbar-nav ml-auto">
                <li><a class="navbar-brand" href="#">About</a></li>
                <li><a class="navbar-brand" href="#">Calculators</a>
                <li><a class="navbar-brand" href="#">Blog</a></li>
                <li><a class="navbar-brand" href="#">Press</a></li>
            </ul>
        </div>
       
  
            <div class="col-sm-3"><h5>Account</h5>
                <ul class="navbar-nav ml-auto">
                    <li><a class="navbar-brand" href="#">Sign in</a></li>
                    <li><a class="navbar-brand" href="#">Sign up</a>
                    <li><a class="navbar-brand" href="#">Reset Password</a></li>
                </ul>
            </div>
            <div class="col-sm-3"><h5>More</h5>
                    <ul class="navbar-nav ml-auto">
                        <li><a class="navbar-brand" href="#">Contactus</a></li>
                        <li><a class="navbar-brand" href="#">FAQ</a>
                        <li><a class="navbar-brand" href="#">Privacy Policy</a></li>
                        <li><a class="navbar-brand" href="#">Terms and use</a>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;&nbsp;
                        <span><i class="fa fa-facebook-square"></i></span>&nbsp;&nbsp;
                        <span><i class="fa fa-instagram" aria-hidden="true"></i></span></li>
                    </ul>
                </div>
            <div class="col-sm-3">
                        <ul class="navbar-nav ml-auto">
                            <li><h5>Availabe</h5></li>
                            <li><img src="assets/images/android.png"></li>
                            <li><img src="assets/images/ios.png"></li>
                        </ul>
                    </div>
        
      </div>

</div>
</body> -->
