body{
    background-image: url('/assets/images/webbackgroundimage.png ');
 
}

nav{
    position: relative;
    background-color: darkturquoise;
    font-family: auto;
    width:100%;
    height: 60px;
    font-family: auto;

}
nav img{
    position: relative;
    width: 105px;
    margin-top: 3px;
    margin-left: 100px;
}
nav .dropdown-menu {
    position: absolute;
    top: 46px !important;
    left: 750px;
}

#dropdownMenu1{
    position: relative;
    margin-left: 870px;
} 
h4{
    position: relative ;
   text-align: center;
    margin-top:10px;
    font-family: auto;
    color: black;
}
.form{
    width: 100%;
  font-family: auto;
 
  margin-bottom: 0px;
  text-align: center;
}
input{
    border: 3px solid #707070;
      border-radius: 16px;
      position: relative;
      width: 265px;
     
  }
  .centered {
    margin-left: 40%;
  }
  .invalid-feedback{
    margin-left: 1%;
  }
 /* @media only screen and (min-width: 600px) {
    .form1 { width: 680px; left: 25%; }
}

@media only screen and (min-width: 768px) {
    .form1 { width: 25%; left: 50%; }
} 


@media only screen and (min-width: 992px) {
  .form1 { width: 50%; left: 75%; }
} 

@media only screen and (min-width: 1200px) {
.form1 { width: 75%; left: 100%; }
  
}  */

